<!doctype html>
<head>
	<title>Eye Titan</title>
	<link rel="stylesheet" href="../static/css/template.css">
	<link rel="icon" type="image/ico" href="../static/images/EYE.jpg" >


	<style>
		body { padding: 30px }
		form { display: block; margin: 20px auto; background: #eee; border-radius: 10px; padding: 15px }
		
		.progress { position:relative; width:400px; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
		.bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
		.percent { position:absolute; display:inline-block; top:3px; left:48%; }
		</style>
</head>
<body>

<!-- 
		<div class="w3-container"> -->
				<!-- <h2>Dynamic Progress Bar</h2>
			  
				<div class="w3-light-grey">
				  <div id="myBar" class="w3-green" style="height:24px;width:0"></div>
				</div>
				<br>
			  
				<button class="w3-button w3-green" onclick="move()">Get Report</button> 
			  </div>
			  
			  <script>
			  function move() {
				var elem = document.getElementById("myBar");   
				var width = 1;
				var id = setInterval(frame, 10);
				function frame() {
				  if (width >= 100) {
					clearInterval(id);
				  } else {
					width++; 
					elem.style.width = width + '%'; 
				  }
				}
			  }
			  </script> -->


	<!-- <img src="../static/images/titanfrontend.jpg" alt="HTML5 Icon"  width="128" height="128"  class="center"> -->

	<p style="text-align:center;"><img src="../static/images/titanfrontend.jpg" alt="Logo" ></p>
	<!-- <img src="../static/images/titanfrontend.jpg" class="centerImage" alt="CH Logo" height="120" width="350"> -->
	<div class="container">
		
		<div class="video-actions">

			<form method="post" action="/" enctype="multipart/form-data" class="form-display">

				<label for="upload-photo" class="select-file-button"> Select a file</label>
				<input type="file" name="file" id="upload-photo" required class="hidden"/>
						
				<input type="submit" value="Get Report" class="get-report">
				<!-- <progress value="85" max="100">
				</progress> -->
			
			</form>
		</div>
	</div>

	


</body>
